@import "page.css";
@import "index/topbar.css";
@import "index/sidenav.css";
@import "index/header.css";
@import "index/hero.css";
@import "index/main-cat.css";
@import "index/banner-descuentos.css";
@import "index/productos-cat.css";
@import "index/resenas.css";
@import "index/footer.css";

/* TODO:
    Position sticky en encabezado.
*/

/* Imagen de fondo. */
.background {
    background-image: url("../img/back12.jpeg");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

@media (max-width: 1200px) {
    .background {
        background-size: cover;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .background {
        top: 15px;
    }
}

/* Links combos, ofertas. */
.combos {
    position: relative;
    top: -5px;
}

.ofertas {
    overflow: hidden;
    position: relative;
    top: -10px;
}

.hot {
    position: relative;
    top: 6px;
    width: 60px;
    margin-left: 4px;
}

@media (max-width: 1200px) {
    .combos {
        top: 4px;
    }

    .ofertas {
        left: -10px;
        top: -2px;
    }
}

@media (max-width: 992px) {
    .combos {
        top: 8px;
        font-size: 1.2rem;
    }

    .ofertas {
        left: -10px;
        top: 4px;
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .combos {
        top: 8px;
        font-size: 1rem;
    }

    .ofertas {
        overflow: visible;
        left: -40px;
        top: 8px;
        font-size: 1rem;
    }

    .hot {
        top: -35px;
        left: 60px;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .combos {
        top: 10px;
        font-size: 1.1rem;
    }

    .ofertas {
        overflow: hidden;
        left: -10px;
        top: 5px;
        font-size: 1.1rem;
    }

    .hot {
        top: 6px;
        left: 3px;
    }
}

/* Nav #2. */
nav {
    position: relative;
    background: #00000000;
    box-shadow: none;
    top: -90px;
}

.snd-nav {
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        align-items: center;

        a {
            margin: 10px 0 0 0 !important;
        }
    }
}

@media (max-width: 992px) {
    .snd-nav {
        max-width: 90%;
    }
}

/* Barrita de búsqueda. */
#search_bar {
    z-index: 2;
}

.search-bar {
    background-color: #ffffffcc;
    border-radius: 3px;
    display: flex;
    height: 30px;
    line-height: normal;
    margin-top: 20px;
    padding-left: 12px;

    .si {
        color: #222222ff;
        position: relative;
        top: 0.5rem;
        left: -0.2rem;
        margin-right: 10px;
        scale: 1;
    }
}

@media (max-width: 1200px) {
    .search-bar {
        margin-top: 35px;
    }
}

@media (max-width: 992px) {
    .search-bar {
        position: relative;
        left: -3vw;
        margin-top: 35px;
        width: 50vw;
        height: 35px;
    }
}

@media (max-width: 576px) {
    .search-bar {
        left: 0;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .search-bar {
        display: none;
    }
}

.search-bar input::placeholder {
    position: relative;
    color: #222222ff;
    font-size: 1rem;
}

@media (max-width: 1200px) {
    .search-bar input::placeholder {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    .search-bar input::placeholder {
        top: 1px;
        font-size: 1.1rem;
    }
}

.stext[type=text] {
    top: -0.5rem;
    position: relative !important;
    border: none !important;
    transition: none !important;
}

@media (max-width: 992px) {
    .stext[type=text] {
        top: -0.3rem;
    }
}

.stext[type=text]:focus {
    border: 2px solid #fe6a0bff !important;
    box-shadow: none !important;
}

/* Carrito. */

.btn-carrito {
    overflow: visible;
}

#carrito-count {
    background-color: #ff2a00;
    color: white;
    font-family: Titilium;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 50%;
    padding: 0 5px;
    position: relative;
    z-index: 1;
    left: 50px;
    bottom: 28px;
}

/* Selector de cantidad en las cards de los productos, esto
   debe ir en otro lado... */

.add-to-cart {
    display: flex;
    justify-content: center;

    a {
        position: relative;
        left: 25px;
        top: 5px;
    }
}

.qty-selector {
    position: relative;
    right: 30px;
    display: flex;
    max-width: 50px;
    max-height: 2rem;

    .qty-btn {
        min-width: 30px;
        border-radius: 20px;
        font-family: Titilium;
        font-size: 1.3rem;
        border-width: 1px;
        background-color: white;
        cursor: grab;
    }

    .qty-btn:focus {
        border: 2px solid #fe6a0bff;
    }

    input {
        position: relative;
        font-family: Titilium;
        font-size: 1.2rem;
        text-align: center;
        bottom: 8px;
        min-width: 2rem;
        border: 1px solid #00000033;
        top: 0px;
        max-height: 1.8rem;
    }

    input:focus {
        border: 2px solid #fe6a0bff;
        box-shadow: none !important;
    }
}