#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: white;
    background-color: #222222ee;
    text-align: right;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 4%;
    bottom: 30px;
    font-family: Titilium;
    font-size: 1.2rem;
    border: 1px solid #444444ff
}

#toast.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out the toast.
    However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast in and out */
@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}