.hero {
    position: relative;
    top: -141px;
    overflow: hidden;

    img {
        position: inherit;
        z-index: -1;
        height: 50vw;
    }
}

@media (max-width: 1200px) {
    .hero {
        img {
            padding-top: 15px;
        }
    }
}

@media (max-width: 576px) {
    .hero {
        overflow: visible;
        
        img {
            height: 80vw;
            left: -200px;
        }
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .hero {
        img {
            height: 100vw;
        }
    }
}

.hero-text1 {
    position: absolute;
    top: 6vw;
    right: 7vw;
    width: 20%;
    font-family: Titling;
    font-size: 3vw;
    color: #ffffff66;
}

@media (max-width: 992px) {
    .hero-text1 {
        right: 9vw;
        top: 8vw;
    }
}

@media (max-width: 576px) {
    .hero-text1 {
        display: none;
    }
}

.hero-text2 {
    position: absolute;
    top: 27vw;
    right: 150px;
    width: 50%;
    font-family: Titilium;
    font-size: 1.2rem;
    color: white;
    text-align: right;
    text-shadow: 2px 2px 3px black;
}

@media (max-width: 992px) {
    .hero-text2 {
        right: 25%;
        text-align: center;
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .hero-text2 {
        top: 280px;
        font-size: 0.92rem;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .hero-text2 {
        top: 210px;
        font-size: 0.85rem;
        width: 80%;
        right: 10%;
    }
}

/* Botón tienda. */
.btn-comprar {
    margin-top: 1rem;
    font-family: Titilium;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    text-transform: none;
    background-color: #fe6a0bff;
    transition: background-color 300ms ease !important;
}

@media (max-width: 992px) {
    .btn-comprar {
        margin-top: 1.8rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .btn-comprar {
        margin-top: 55px;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .btn-comprar {
        margin-top: 30px;
    }
}

.btn-comprar:hover {
    background-color: #fe9f0bff;
}
