/* Topbar de información. */
#topbar {
    position: fixed;
    width: 100%;
    background-color: #222222ff;
    padding-top: 0.4rem;
    z-index: 1;
}

/* Texto topbar. */
.topbar-text a {
    color: white;
    font-family: Titling;
    font-size: 1.1rem;
    text-decoration: none;
}

.topbar-text a:focus {
    background-color: #fe6a0bff;
}

@media (max-width: 1200px) {
    .topbar-text a {
        font-size: 1.2rem;
    }
}

@media (max-width: 992px) {
    .topbar-text {
        max-width: 90%;
    }
}
